APP_NAME="IESB MVC"
APP_ENV=development
APP_DEBUG=true
APP_URL="http://localhost:8000"
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=iesb
DB_USER=root
DB_PASS=senha

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="https://seudominio.com.br/admin/storage/callback"
