/material
/vendor/
/poc/vendor/
/poc/downloads/
/poc/error_log
/.env
/public/assets/upload/*
!/public/assets/upload/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage
*.md
*.sql/.env_old
/.env_sandbox
